<% include partials/header.ejs%>
<div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class="ui form" method="POST" action="/blogs">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image">    
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" placeholder="Body" required></textarea>
        </div>
        <input class="ui violet basic button" type="submit"></input>
    </form>
</div>
<% include partials/footer.ejs%>