<% include partials/header %>

<h1>Welcome to the Homepage!!!</h1>

<img src = "https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/35426486_1226465924151280_3837250565386010624_n.jpg?_nc_cat=0&oh=b4592e709dffa779c7773b09755687a1&oe=5BDE02B7">

<% include partials/footer %>